@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59FO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk6jFO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE-_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE-_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E-_F.ttf) format('truetype');
}
.bg-matcha {
  background-color: #9AAE6F;
}
.bg-matchaDark {
  background-color: #7C9051;
}
.bg-salmon {
  background-color: #e9ae86;
}
.bg-salmonDark {
  background-color: #DE6B48;
}
.bg-teal {
  background-color: #81BEC5;
}
.bg-tealDark {
  background-color: #4DA1A9;
}
.bg-whiteSmoke {
  background-color: #ede7d4;
}
body {
  color: #312420;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
/* Small screens (below 767) */
@media (max-width: 767px) {
  .headerSizing {
    padding: 0px 64px;
    word-wrap: break-word;
  }
  .justifyCss {
    display: flex;
    justify-content: center;
  }
  body h1 {
    font-family: "Sentient", serif;
    font-size: 2.15rem;
    /* 30px */
    line-height: 2.75rem;
    /* 36px */
  }
  body h2 {
    font-family: "Sentient", serif;
    font-size: 1.85rem;
    /* 24px */
    line-height: 2.5rem;
    /* 32px */
  }
  body h3 {
    font-family: "Sentient", serif;
    font-size: 1.5rem;
    /* 20px */
    line-height: 2.25rem;
    /* 28px */
  }
  body h4 {
    font-family: "Sentient", serif;
    font-size: 1.25rem;
    /* 20px */
    line-height: 2.15rem;
    /* 28px */
  }
}
/* Medium screens (768px and up) */
@media (min-width: 768px) {
  .headerSizing {
    padding: 0px 96px;
    width: 50%;
  }
  .justifyCss {
    display: flex;
    justify-content: flex-start;
  }
  body h1 {
    font-family: "Sentient", serif;
    font-size: 2.5rem;
    /* 36px */
    line-height: 3.25rem;
    /* 40px */
  }
  body h2 {
    font-family: "Sentient", serif;
    font-size: 2.15rem;
    /* 30px */
    line-height: 2.75rem;
    /* 36px */
  }
  body h3 {
    font-family: "Sentient", serif;
    font-size: 1.85rem;
    /* 24px */
    line-height: 2.5rem;
    /* 32px */
  }
  body h4 {
    font-family: "Sentient", serif;
    font-size: 1.5rem;
    /* 20px */
    line-height: 2.25rem;
    /* 28px */
  }
}
/* Large screens (1024px and up) */
@media (min-width: 1024px) {
  .headerSizing {
    min-height: 620px;
    width: 34%;
  }
}
input,
select {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafaf9;
  border-width: 1px;
  border-color: #d1d5db;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
}
input:focus {
  --tw-ring-color: #81BEC5;
  border-color: #81BEC5;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
input[type="checkbox"] {
  accent-color: #81BEC5;
}
@font-face {
  font-family: "Sentient";
  src: url("/fonts/Sentient-Bold.otf") format("opentype");
}
.Sentient {
  font-family: "Sentient", serif;
  font-weight: 100;
  font-style: normal;
}
.outift {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.note {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.navBarContainer {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  background-color: #e9ae86;
  padding-bottom: 8px;
}
.navBarContainer .navBarMenu {
  text-align: center;
  margin: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-basis: 8%;
  font-weight: 600;
}
.navBarContainer .navbar img {
  display: flex;
  align-items: right;
  height: 100px;
}
.displayHeader {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
  filter: drop-shadow(200px 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  padding: 6rem 1rem;
  font-family: "Manrope", serif;
  word-wrap: break-word;
}
.displayHeaderSub {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1;
  padding: 1rem 0rem;
}
.productSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productSection .productCard {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition-property: "color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter";
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}
.productSection .productCard:hover {
  transform: scale(1.05) translateY(-0.25rem);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}
.productSection .productCard .productCardImage {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}
table {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
}
table tbody tr {
  border-bottom-width: 1px;
}
table tbody td {
  padding: 1.5rem 1rem;
  font-weight: 500;
  white-space: nowrap;
}
.tab-btn {
  white-space: nowrap;
  display: inline-flex;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #81BEC5;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
.tab-btn:hover {
  background-color: #4DA1A9;
}
.form-accent {
  color: #81BEC5;
}
.form-accent:hover {
  color: #4DA1A9;
  text-decoration: underline;
}
.matcha-checkbox {
  width: 1rem;
  height: 1rem;
  accent-color: #81BEC5;
  border: 1px solid #c7e2e5;
  background-color: #f5f5f4;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.matcha-checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(77, 161, 169, 0.3);
}
.matcha-label {
  color: #4DA1A9;
}
.actionButton {
  background-color: #81BEC5;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  transition: background-color 150ms ease-in-out;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.actionButton:hover {
  background-color: #4DA1A9;
}
.actionButton:focus {
  box-shadow: 0 0 0 4px rgba(129, 190, 197, 0.5);
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  max-width: 500px;
  width: 90%;
  min-height: 500px;
  max-height: 90vh;
  border-radius: 1rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow-y: auto;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.button-group {
  display: flex;
  width: 100%;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.button-group .button-group-item {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid #81BEC5;
  background-color: transparent;
  transition: all 150ms ease-in-out;
}
.button-group .button-group-item:focus {
  z-index: 10;
  outline: none;
  box-shadow: 0 0 0 2px rgba(129, 190, 197, 0.5);
}
.button-group .button-group-item:hover {
  background-color: #81BEC5;
}
.button-group .button-group-item.active {
  background-color: #81BEC5;
  border-color: #81BEC5;
}
.button-group .button-group-item:first-child {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
.button-group .button-group-item:last-child {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.button-group .button-group-item:not(:first-child):not(:last-child) {
  border-left: none;
  border-right: none;
}
